html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{  
    font-family: 'Josefin Sans', sans-serif;
}

.content{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.logo{
    width: 100px;
    height: 50px;
    background: url(logo-color.png) no-repeat 50% 65%;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(1px -1px 5px rgba(1, 7, 30, 0.2));
}

.menu-contain{
    box-sizing: border-box;
}

.menu{
    cursor: pointer;
    font-size: 3.5vh;
    color: rgb(42, 44, 49);
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 2px #fff;
}

.menu:hover{
    color: rgb(104, 107, 111);
    text-shadow: 0 0 3px rgba(142, 123, 191, 0.5);
}

.menu::after{
    content: '';
    position: absolute;
    top: 115%;
    left: 0;
    width: 0;
    height: .8vh;
    background: rgb(104, 107, 111);
    transition: width .3s cubic-bezier(.68,0,1,.82);
}

.menu:hover::after{
    width: 100%;
    box-shadow: 0 0 3px rgba(142, 123, 191, 0.5);
}

h2 {
    font-size: 6vh;
    text-transform: uppercase;
    color: #2a2c31;
    line-height: 7vh;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.25vw;
    z-index: 5;
    box-sizing: border-box;
    margin-bottom: 22vh;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    position: relative;
    font-variant: small-caps;
    align-self: center;
}

h2 > span{
    font-size: 4.6vh;
    color: #2d2d2d;
    line-height: 5vh;
    text-transform: none;
    font-weight: initial;
    letter-spacing: 4px;
}

h2::after{
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;
    top:-8vh;
    left: 50%;
    margin-left: -115px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 3px -3px 12px rgba(33, 32, 47, 0.4);
}

@keyframes text {
    from { 
        opacity: 0;
        transform: translateY(5vh);
    }
    to   { 
        opacity: 1;
        transform: translateY(-10vh);
    }
}

.blog-content{
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.blog-content.home{
    justify-content: center;
}

h3{
    text-transform: uppercase;
}

.news-item{
border: 1px solid rgb(213, 215, 219);
margin: 10px;
padding: 20px;
}

.news-item-list{
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 70%;
    overflow: auto;
}

.news-item-title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.news-item-description{
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.6;
}

/*menu*/

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    padding: 1.5vh 1.9vw;
    color: rgb(92, 91, 99);
    font-size: 4.4vh;
    background: rgb(55, 59, 60);
    text-decoration: none;
    position: relative;
    width: 15vw;
}

.main-menu a:hover { 
    background: rgb(42, 44, 49); 
}

.main-menu a::before {
    content: attr(data-hover);
    position: absolute;
    color: rgb(153, 153, 197);  
    transition: transform 0.3s, opacity 0.2s;
}

.main-menu a:hover::before {
    transform: scale(0.9);
    opacity: 0;
}

li a::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 0;
    height: 0.8vh;
    background-color: rgb(92, 91, 99);;
    transition: width 0.3s cubic-bezier(.68,0,1,.82);  
}

li a:hover::after {
    width: 100%;
}

/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂ¼ÃÂ¾ÃÂ´ÃÂ°ÃÂ»Ã‘Å’ÃÂ½ÃÂ¾ÃÂ³ÃÂ¾ ÃÂ¾ÃÂºÃÂ½ÃÂ° */

/* Ã‘ÂÃÂ»ÃÂ¾ÃÂ¹ ÃÂ·ÃÂ°Ã‘â€šÃÂµÃÂ¼ÃÂ½ÃÂµÃÂ½ÃÂ¸Ã‘Â */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

/* ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂ°Ã‘â€ ÃÂ¸Ã‘Â Ã‘ÂÃÂ»ÃÂ¾Ã‘Â ÃÂ·ÃÂ°Ã‘â€šÃÂµÃÂ¼ÃÂ½ÃÂµÃÂ½ÃÂ¸Ã‘Â ÃÂ¸ ÃÂ¼ÃÂ¾ÃÂ´ÃÂ°ÃÂ»Ã‘Å’ÃÂ½ÃÂ¾ÃÂ³ÃÂ¾ ÃÂ±ÃÂ»ÃÂ¾ÃÂºÃÂ° */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

/* Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃ‘â€¹ ÃÂ¼ÃÂ¾ÃÂ´ÃÂ°ÃÂ»Ã‘Å’ÃÂ½ÃÂ¾ÃÂ³ÃÂ¾ ÃÂ¾ÃÂºÃÂ½ÃÂ° */
.modal-dialog {
    border: none;
    position: fixed;
    width: 18vw;
    left: 80%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(.68,0,.13,1);
    -moz-transition: -moz-transform 0.8s cubic-bezier(.68,0,.13,1);
    -o-transition: -o-transform 0.8s cubic-bezier(.68,0,.13,1);
    transition: transform 0.8s cubic-bezier(.68,0,.13,1);
    z-index: 103;
}