html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{  
    font-family: 'Josefin Sans', sans-serif;
}

.content{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 5vw;
}

.logo{
    width: 7vw;
    height: 6vh;
    min-width: 90px;
    background: url(logo-color.png) no-repeat 50% 65%;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(1px -1px 5px rgba(1, 7, 30, 0.2));
}

.menu-contain{
    box-sizing: border-box;
}

h2 {
    font-size: 6vh;
    text-transform: uppercase;
    color: #2a2c31;
    line-height: 7vh;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.25vw;
    z-index: 5;
    box-sizing: border-box;
    margin-bottom: 22vh;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    position: relative;
    font-variant: small-caps;
    align-self: center;
}

h2 > span{
    font-size: 4.6vh;
    color: #2d2d2d;
    line-height: 5vh;
    text-transform: none;
    font-weight: initial;
    letter-spacing: 4px;
}

h2::after{
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;
    top:-8vh;
    left: 50%;
    margin-left: -115px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 3px -3px 12px rgba(33, 32, 47, 0.4);
}

@keyframes text {
    from { 
        opacity: 0;
        transform: translateY(5vh);
    }
    to   { 
        opacity: 1;
        transform: translateY(-10vh);
    }
}

.blog-content{
    height: 84vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container{
    overflow: auto;
    color: #2a2c31;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    width: 60%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

h3{
    text-transform: uppercase;
    font-size: 4vh;
    color: #2d2d2d;
    font-weight: initial;
    letter-spacing: 4px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*  ============== */
/* !!! empty page !!! */
.works h3{
    margin-bottom: 25vh;
}
/*  ============== */

.about, .contact{
    justify-content: flex-start;
}

.news-item{
    border: 1px solid rgb(213, 215, 219);
    margin: 10px;
    padding: 20px;
}

.news-item-list{
    list-style: none;
    margin: 0;
    padding: 10px;
    overflow: auto;
}

.news-item-title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/*menu*/

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li{
    display: inline-block;
    margin-left: -4px;
}
.main-menu a {
    display: block;
    padding: 1vh 1vw;
    color: rgb(92, 91, 99);
    font-size: 2.5vh;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.main-menu a:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: rgb(92, 91, 99);
    transition: width .3s ease-in-out;
    z-index: -2;
}

.main-menu a:hover{
   color: white;
   text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

.main-menu a:hover::after {
   width: 100%;
   left: 0;
}

/*contact*/
.form-group{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.form-group input,
.form-group textarea{
     width: 65%;
     border: 0;
     border-bottom: 1px solid rgba(95, 95, 95, 0.5);
     outline: none;
     padding: 6px;
     /* box-shadow: 0px 4px 10px rgba(170, 170, 170, 0.47); */
}

textarea{
    resize: none;
}

.contact-form-description{
    text-align: center;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .5s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active для <2.1.8 */ {
  opacity: 0;
}

.success_message{
    background: #5c5b63;
    position: absolute;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

button{
    background: none;
    cursor: pointer;
    border: 0;
    padding: 1vh 1vw;
    color: rgb(92, 91, 99);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

button:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: rgb(92, 91, 99);
    transition: width .3s ease-in-out;
    z-index: -2;
}

button:hover{
   color: white;
   text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

button:hover::after {
   width: 100%;
   left: 0;
}

::-webkit-input-placeholder {color:#c0392b;    font-family: 'Josefin Sans', sans-serif;
}
::-moz-placeholder          {color:#c0392b;    font-family: 'Josefin Sans', sans-serif;
}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b;    font-family: 'Josefin Sans', sans-serif;
}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b;    font-family: 'Josefin Sans', sans-serif;
}