html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body{  
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Catamaran';
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background{
    position: fixed;
    z-index: -99;
    top:0;
    width: 100%;
    min-height: 100%;
    background: url(bg/landscape-sea-coast-water-nature-outdoor-738209-pxhere.com-compressor.jpg) no-repeat 50% 50% / cover;
}

.header{
    /* filter: blur(3px); */
    background: rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
    z-index: 999;
}

.logo{
    width: 7vw;
    height: 6vh;
    min-width: 90px;
    background: url(logo-color.png) no-repeat 50% 65%;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(1px -1px 5px rgba(1, 7, 30, 0.2));
}

.menu-contain{
    box-sizing: border-box;
}

.home{
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 6vh;
    text-transform: uppercase;
    color: #2a2c31;
    line-height: 7vh;
    /* text-align: center; */
    font-weight: 400;
    letter-spacing: 0.25vw;
    z-index: 5;
    box-sizing: border-box;
    margin-bottom: 22vh;
    text-shadow: 0 0 9px rgba(51, 46, 46, 0.5);
    position: relative;
    font-variant: small-caps;
    align-self: center;
}

h2 > span{
    font-size: 4.6vh;
    color: #8a8a8a;
    line-height: 5vh;
    /* text-transform: none; */
    font-weight: initial;
    letter-spacing: 4px;
}

@keyframes text {
    from { 
        opacity: 0;
        transform: translateY(5vh);
    }
    to   { 
        opacity: 1;
        transform: translateY(-10vh);
    }
}

.blog-content{
    padding: 80px 20vw 0;
    height: 100%;
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
    background: rgba(247, 247, 247, 0.65);
    color: #2a2c31;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    width: 100%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 30px 15px 20px;
}

.page-container{
    padding: 0 15px 20px;
}

h3{
    margin: 0;
    text-transform: uppercase;
    font-size: 4vh;
    color: #2d2d2d;
    font-weight: initial;
    letter-spacing: 4px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*  ============== */
/* !!! empty page !!! */
.works{
        display: flex;
    justify-content: center;
    align-items: center;
}
.works h3{
    margin-bottom: 25vh;
}
/*  ============== */

.about, .contact{
    justify-content: flex-start;
}

.about p{
    padding: 0px 20px;
}

.news-item{
    margin: 30px 15px;
    padding: 20px;
    display: block;
    text-decoration: none;
    background: rgba(248, 248, 248, 0.54);
    box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.15);
}

.inner-container{
    margin-right: -18px;
    margin-top: 0;
    padding: 0 20px;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.news-item-title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    color: #2a2c31;
}

.news-item-description{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(42, 44, 49, 0.41);
    color: #2a2c31;
}

.footer-post{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.posted-date{
    color: rgb(75, 75, 75);
}

.updated-date{
    color: rgba(78, 75, 75, 0.97);
    font-size: small;
    padding: 5px;
    align-self: center;
}

.share-post{
    color: #c0392b;
    cursor: pointer;
    font-size: 14px;
}

.share-post span{
    vertical-align: text-bottom;
    line-height: 1.9;
}

.category{
    color: #2a2c31;
    cursor: pointer;
    border: 1px solid #9b9c9e;
    display: inline-block;
    padding: 0 12px;
    margin: 3px;
    transition: all .3s;
}

.categories-container{
    margin-top: 5px;
}

.categories-container ul{
    margin: 0;
    padding: 0 10px;
}

.categories-container p{
    margin-top: 0;
    margin-bottom: 10px;
}

.active-category{
    color: #fff;
    background: #2a2c31;
    border-color: #2a2c31;
}

/*post page*/
.head-post-container{
    position: relative;
    margin-bottom: 20px;
}

.img-container{
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
}

.img-container img{
    width: 100%;
}

.post-page-title{
    position: absolute;
    margin: 0;
    background: rgba(0, 0, 0, 0.52);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: white;
}
.post-page-categories{
    margin-bottom: 20px;
}

.post-page-description{
    background: rgba(0, 0, 0, 0.54);
    color: #f9f9f9;
    padding: 18px 15px;
    margin: 30px 0;
}

.news-item-text{
    padding: 0 15px 50px;
    color: #2a2c31;
}

.share-icons{
    display: inline-block;
    padding: 4px 10px;
    font-size: 18px;
    border: 1px solid #4e4e4e;
    margin-left: 5px;
}

.share-icons a{
    display: inline-block;
    margin: 0 5px;
    color: #4e4e4e;
}

.share-icons a:hover{
    color: #6f6f6f;
}


/*menu*/
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li{
    display: inline-block;
    margin-left: -4px;
}

.main-menu a {
    display: block;
    padding: 1vh 1vw;
    color: rgb(42, 44, 49);
    font-size: 2.5vh;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.main-menu a:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: rgb(42, 44, 49);
    transition: width .3s ease-in-out;
    z-index: -2;
}

.main-menu a:hover{
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

.main-menu a:hover::after {
    width: 100%;
    left: 0;
}

.hamburger{
    display: none;
    width: 20px;
    height: 18px;
    position: relative;
}

.hamburger span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #1E2022;
}

.hamburger span::before,
.hamburger span::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #1E2022;
    transition: transform .3s;
}

.hamburger span::after {
    top: 6px;
}

.hamburger.active-hamburger span {
    height: 0;
}

.hamburger.active-hamburger span::before {
    transform: rotate(45deg) translateY(7px) translateX(1.5px);
}

.hamburger.active-hamburger span::after {
    transform: rotate(-45deg) translateY(-7px) translateX(1.5px);
}

/*search*/
.form-group.search{
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group .input-search{
    width: 100%;
    background: transparent;
}

.results{
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.results ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    width: 100%;
    padding-top: 1px;
}

.result-item a{
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    background: #2a2c31;
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
    margin-top: -1px;
    transition: all .3s;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.result-item h4,
.result-item p{
    margin: 0;
}

.result-item a:hover{
    color: #2a2c31;
    background: rgb(247, 247, 247);
}

.fail-result{
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    background: #2a2c31;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.search .fa-search{
    position: absolute;
    right: 16px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}

/*contact*/
.contact-form{
    margin: 20px 15px 15px 15px;
    padding: 20px;
    border-radius: 3px;
    background: rgba(243, 243, 243, 0.4);
    box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.15);
}

.contact-current{
    display: inline-block;
    padding: 0 20px;
    color: rgba(42, 44, 49, 0.81);
}

.contact-current i{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
}



.form-group{
    position: relative;
    margin-bottom: 35px;
}

.invalid-contact-data{
    position: absolute;
    left: 0;
    bottom: -20px;
    margin: 0;
    color: #c0392b;
    font-size: 12px;
}

.form-group input,
.form-group textarea{
    width: 70%;
    border: 0;
    border-bottom: 1px solid rgba(95, 95, 95, 0.5);
    outline: none;
    padding: 6px;
    margin-right: 15px;
    background: transparent;
}

textarea{   
    resize: none;
}

textarea + .invalid-contact-data{
    bottom: -11px;
}

.contact-form-description{
    text-align: start;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 2.8vh;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .5s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active для <2.1.8 */ {
    opacity: 0;
}

/*.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to,
 .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}*/

.info-message{
    background: #5c5b63;
    position: absolute;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

.email,
.city,
.phone{
    margin: 10px;
    font-variant: normal;
    /* text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6); */
}

.phone{
    color: rgba(42, 44, 49, 0.81);
}

button{
    padding: 1vh 1vw;
    background: none;
    font-family: 'Catamaran';
    cursor: pointer;
    border: 0;
    color: rgb(42, 44, 49);
    font-size: 2.5vh;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    outline: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

button::after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: rgb(42, 44, 49);
    transition: all .3s ease-in-out;
}

button:hover::after {
    width: 100%;
    left: 0;
}

button span{
    position: absolute;
    opacity: 0;
    color: white;
    z-index: 999;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

button:hover span{
    opacity: 1;
}

::-webkit-input-placeholder{
    color: #c0392b;
    font-family: 'Josefin Sans', sans-serif;
}

::-moz-placeholder{
    color:#c0392b;    
    font-family: 'Josefin Sans', sans-serif;
}

/* Firefox 19+ */
:-moz-placeholder{
    color:#c0392b;    
    font-family: 'Josefin Sans', sans-serif;
}

/* Firefox 18- */
:-ms-input-placeholder{
    color:#c0392b;    
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 800px) {
    .blog-content{
        padding: 80px 10vw 0;
    }
}

@media screen and (max-width: 666px) {
    .header{/* position: relative; */}
    .main-menu{
        position: absolute;
        right: -100px;
        top: 12vh;
        transition: all .3s;
    }

    .main-menu.show-menu{
        transform: translateX(-120px);
        top: 12vh;
    }

    .main-menu li{
        display: block;
        background: #ffffff;
    }

    .main-menu a:after{
        display: none;
    }

    .main-menu a:hover{
        color:  rgb(42, 44, 49);
    }

    .main-menu li{
        margin-left: 0;
    }

    .main-menu a:active{
        background:  rgb(42, 44, 49);
        color: white;
    }

    .hamburger{
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .blog-content{
        padding: 80px 5vw 0;
    }
}